body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eeeeee;
  }

.cursor-pointer {
  cursor: pointer;
}

.yellow:active {
  background-color: #00a2ed;
}

.blue:active {
  background-color: #edc200;
}
